@model (List<SongModel>,LoginModel)

@section Styles{
    <link rel="stylesheet" href="~/css/HomepageStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Musification</span>
                    <span class="profession"><i>You</i> choose</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="favbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Favorites">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favorites</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="moodbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Moods">
                            <i class='bx bx-happy-alt icon'></i>
                            <span class="text nav-text">Moods</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Profile">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>                    
                </ul>
            </div>
            <div class="bottom-content">
                <li >
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
             

            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="home">

        <div class="header">
            <div class="text title">Homepage</div>
            <div class="right-corner">
                <img class="profile-pic" src="@ViewBag.ProfileImage"></img>
                <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Profile">
                    <span class="smalltext username ">@ViewBag.username</span>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="left">
                <div class="welcome">
                    
                    <h2 class="welcome-msg">
                        <img src="~/Images/Waving Hand Emoji.png" />
                        Welcome to a
                    </h2>
                    <h1 class="welcome-msg1">
                        new music world
                    </h1>
                </div> 
                <div class="right">
                    @if (Model.Item1 != null)
                    {
                        <div class="top">
                            <h2>Your top blasts</h2>
                        </div>
                        int i = 1;
                        <table>

                            @foreach (var song in Model.Item1)
                            {
                                <tr class="song">
                                    <td class="song-title">@i. @song.songname</td>
                                    @{
                                        string mood = song.mood.Substring(0, 1).ToUpper() + song.mood.Substring(1);
                                    }

                                    <td style="text-align:center">@mood </td>
                                </tr>

                                i++;
                            }
                        </table>
                    }
                </div>
            </div>
            

                <div class="decoration">
                    <div class="down-text">
                        <h2>What mood are you in today?</h2>
                    <div class="suggestions">
                        <div class="suggestion">
                            <form asp-controller="Home" asp-action="Playlists" method="post" class="left-form-up">
                                <input type="hidden" name="mood" value="happy" />
                                <input type="hidden" name="username" value="@ViewBag.username" />
                                <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />
                                <input type="submit" class="mood" value="happy" />

                            </form>
                        </div>
                        <div class="suggestion">
                            <form asp-controller="Home" asp-action="Playlists" method="post" class="left-form-down">
                                <input type="hidden" name="mood" value="dance" />
                                <input type="hidden" name="username" value="@ViewBag.username" />
                                <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />

                                <input type="submit" class="mood" value="dance">

                            </form>
                        </div>

                        <div class="suggestion">
                            <form asp-controller="Home" asp-action="Playlists" method="post" class="down1">
                                <input type="hidden" name="mood" value="inlove" />
                                <input type="hidden" name="username" value="@ViewBag.username" />
                                <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />

                                <input type="submit" class="mood" value="inlove" />

                            </form>
                        </div>
                        <div class="suggestion">
                            <form asp-controller="Home" asp-action="Playlists" method="post" class="up3">
                                <input type="hidden" name="mood" value="sad" />
                                <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />

                                <input type="hidden" name="username" value="@ViewBag.username" />
                                <input type="submit" class="mood" value="sad" />

                            </form>
                        </div>

                        <div class="suggestion">
                            <a class="moodbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Moods">
                               More
                            </a>
                        </div>
                    </div>
                    
                    </div>
                   
                    <div class="video">
                        <img src="~/Resources/Playlist-cuate.png" />
                       @* <video autoplay loop>
                            <source src="/Images/Playlist.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>*@
                    </div>
                    
                </div>
              
                
           
        </div>            
       
    </section>




    <!--Javascripts-->
    <script>
        function Hide(){
            
            const play = document.querySelector('[class*=play]');
            const pause = document.querySelector('[class*=pause]');
            if (play.style.display === 'block' && pause.style.display==='none') {
                play.style.display='none';
                pause.style.display='block';
                            }
            else {
                play.style.display = 'block';
                pause.style.display = 'none';
            }

           
        }
        
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause=body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });

        
    </script>
</body>


