@model List<(SongModel Song, bool isLiked)>


@section Styles{

    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link rel="stylesheet" href="~/css/PlaylistsStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}


<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Musification</span>
                    <span class="profession"><i>You</i> choose</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
               
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="favbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Favorites">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favorites</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="moodbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Moods" asp-route-profile="@ViewBag.ProfileImage">
                            <i class='bx bx-happy-alt icon'></i>
                            <span class="text nav-text">Moods</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile" asp-route-profile="@ViewBag.ProfileImage">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
               

            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="home">

        <div class="header">
            <div class="text title">Your @ViewBag.mood playlist</div>
            <div class="right-corner">
                <img class="profile-pic" src="@ViewBag.ProfileImage"></img>
                <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile" asp-route-profile="@ViewBag.ProfileImage">
                    <span class="smalltext username ">@ViewBag.username</span>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="song-list">

                <audio class="audio" id="audioplayer">
                </audio>
                <form asp-controller="Home" asp-action="GenericPlaylists" method="post" class="form">
                    <input type="hidden" name="mood" value="@ViewBag.mood" />
                    <input type="hidden" name="username" value="@ViewBag.username" />
                    <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />
                    <input type="submit" class="more" value="Discover more @ViewBag.mood songs" />
                </form>
                <table>
                    @if (Model.Count() != 0)
                    {
                        <thead>
                            <tr>

                                <td ></td>
                                <td class="sname h  text">Song</td>
                                <td class="artist h text">Artist</td>
                                <td class="duration  h text">Duration</td>
                                <td ></td>
                            </tr>
                            
                        </thead>
                        @foreach (var item in Model)
                        {
               
                            <tr class="song" >                            
                                
                                <td>     
                                    <span class="play-icon ">                                            
                                        <button type="submit" data-song-id="@item.Song.songId" data-username="@ViewBag.username" data-profile="@ViewBag.ProfileImage" data-file="@item.Song.songfile" class="play-btn">                                                
                                            <i class='bx bx-play bx-flip-vertical buttons' style="display:inline-block"></i>                                                
                                            <i class='bx bx-pause buttons' style="display:none"></i>                                            
                                        </button>                                        
                                    </span>                                  
                                    
                                </td>

                                <td class="sname text"><div class="sname">@item.Song.songname</div></td>
                                <td class="artist text">@item.Song.artist</td>
                                <td class="duration text">@item.Song.duration</td>
                                @if (!item.isLiked)
                                {
                                    <td>
                                        <form asp-controller="Home" asp-action="LikeUnlike" method="post" class="like-btn">
                                            <input type="hidden" name="username" value="@ViewBag.username" />
                                            <input type="hidden" name="mood" value="@item.Song.mood" />
                                            <input type="hidden" name="songid" value="@item.Song.songId" />
                                            <input type="hidden" name="isliked" value="@item.isLiked" />
                                            <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />

                                            <button type="submit" class="heart">
                                                <i class='bx bx-heart icon buttons '></i>
                                            </button>   
                                        </form>
                                    </td>                            

                                }
                                else
                                {
                                    <td>
                                        <form asp-controller="Home" asp-action="LikeUnlike" asp-route-username="@ViewBag.Username" asp-route-profile="@ViewBag.ProfileImage" method="post" class="like-btn">
                                            <input type="hidden" name="username" value="@ViewBag.username" />
                                            <input type="hidden" name="mood" value="@item.Song.mood" />
                                            <input type="hidden" name="songid" value="@item.Song.songId" />
                                            <input type="hidden" name="isliked" value="@item.isLiked" />
                                            <input type="hidden" name="profile" value="@ViewBag.ProfileImage" />
                                            <button type="submit" class="heart">
                                                <i class='bx bxs-heart icon buttons '></i>
                                            </button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                          
                    }
                  
                    else
                    {
                        <tr>There are no songs for the mood @ViewBag.mood</tr>
                    }

                </table>
            </div>
       </div>

        <!--  <div class="song-managing">

             <div class="buttons">
                 <i class='bx bx-skip-previous'></i>
                 <i class='bx bx-pause pause' onclick="Hide()"></i>
                 <i class='bx bx-play bx-flip-vertical play' onclick="Hide()"></i>
                 <i class='bx bx-skip-next'></i>
             </div>
         </div>-->
      

    </section>


    <!--Javascripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>    
        $(document).ready(function () {
            $('.play-btn').click(function () {
                var songId = $(this).data('song-id');
                var username = $(this).data('username');
                var file = $(this).data('file');
                var playIcon = $(this).find('.bx-play');
                var pauseIcon = $(this).find('.bx-pause');

                $.ajax({
                    url: '@Url.Action("HearingCounter", "Home")',
                    type: 'POST',
                    data: { songId: songId,username:username },
                    // Perform an AJAX POST request to the 'PlaySong' action in the 'Songs' controller
                    // The 'songId' parameter is sent in the request data

                    success: function (result) {

                        var audioPlayer = document.getElementById('audioplayer');                      

                        if (!audioPlayer.paused) {
                            audioPlayer.pause();
                           
                            pauseIcon.toggle();
                            playIcon.toggle();
                            console.log(playIcon);
                        }
                        else if (audioPlayer.paused) {
                            audioPlayer.src = file;
                            audioPlayer.play();                            
                            pauseIcon.toggle();
                            playIcon.toggle();
                        }

                        console.log('Song played successfully.');
                    },
                    error: function () {
                        // This function is executed when the AJAX request fails

                        console.log('An error occurred while playing the song.');
                       
                    }
                });
            });
        });


         function playAudio(source,element) {

            var audioPlayer = document.getElementById('audioplayer');
            var playIcon = element.querySelector('.bx-play');
            var pauseIcon = element.querySelector('.bx-pause');


            if (!audioPlayer.paused ) {
                audioPlayer.pause();
                pauseIcon.style.display = 'none';
                playIcon.style.display = 'inline-block';

            }
            else if (audioPlayer.paused) {
                audioPlayer.src=source;
                audioPlayer.play();
                pauseIcon.style.display = 'inline-block';
                playIcon.style.display = 'none';
                
            }
            
        }

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });


    </script>
</body>





