@model (UserModel,SongModel)

@section Styles{
    <link rel="stylesheet" href="~/css/ProfileStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}


<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Musification</span>
                    <span class="profession"><i>You</i> choose</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
               
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="favbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Favorites">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favorites</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="moodbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Moods">
                            <i class='bx bx-happy-alt icon'></i>
                            <span class="text nav-text">Moods</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" href="#">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
               

            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="home">

        <div class="header">
            <div class="text title">Your Profile</div>
            <div class="right-corner">
                <img class="profile-pic" src="@ViewBag.ProfileImage"></img>
                <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Profile">
                    <span class="smalltext username ">@ViewBag.username</span>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="information">                
                <div class="image-editor" >
                    
                    <div class="profile-img">
                        @if (!string.IsNullOrEmpty(Model.Item1.profileImage))
                        {
                           <img class="profile-pic" src="@Url.Content(Model.Item1.profileImage)" />
                        }
                        else
                        {
                            <img src="/Resources/icons8-male-user-96.png" />
                        }
                        <div class="edit-btn icon smalltext">
                            <i class='bx bx-pencil icon' id="pencil"></i>
                        </div>
                    </div>
                    <form style ="display:none;" asp-controller="Home" enctype="multipart/form-data" asp-action="Upload" method="post" id="fileUploadForm">
                        <input type="hidden" name="username" value="@ViewBag.username" />
                        <input type="file" name="file" id="ImageData"  />
                        <button type="submit">Save Changes</button>

                    </form>
                </div>
                
                <table class="smalltext">
                    <tr><td class ="infoname">Username</td></tr>
                    <tr>                        
                        <td class="infotext">
                            @Model.Item1.username
                        </td>
                    </tr>
                    <tr>
                        <td class="infoname">First Name</td>
                    </tr>
                    <tr>
                        <td class="infotext">
                            @Model.Item1.firstname
                        </td>
                    </tr>
                    <tr>
                        <td class="infoname">Last Name</td>

                    </tr>
                    <tr>
                        <td class="infotext">
                            @Model.Item1.lastname
                        </td>
                    </tr>
                    <tr>
                        <td class="infoname">Email address</td>
                    </tr>
                    <tr>
                        <td class="infotext">
                            @Model.Item1.email
                        </td>
                    </tr>
                    <tr>
                        <td class="infoname">Gender</td>
                    </tr>
                    <tr>
                        <td class="infotext">
                            @Model.Item1.gender
                        </td>
                    </tr>
                </table>
               
                
            </div>
            <div class="statistics">
                <h3 class="statistics-title">Musification statistics</h3>
                <div class="mostplayed " >
                    @if (Model.Item2 != null)
                    {
                        <div>Your favorite song from all time</div>
                        <h3 class="song-title">@Model.Item2.songname</h3>
                        <h3>by @Model.Item2.artist</h3>
                    }
                    else
                    {
                        <div>Looks like you haven't discovered any songs</div>
                        <h5>What mood are you in today?</h5>
                        <a class="browse-btn green" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Moods">
                            <span class="smalltext greenbrowse ">Browse</span>
                        </a>
                    }
                </div>
                <div class="favorite-genre">
                    @if (Model.Item2 != null)
                    {
                         <div>Look like you are into...</div>
                        <h3 class="genre-title"> @char.ToUpper(Model.Item2.genre[0])@Model.Item2.genre.Substring(1)</h3>
                        <div>music</div>

                    }
                    else
                    {
                        <div>Looks like you haven't discovered any genres</div>
                        <a class="browse-btn yellow" asp-controller="Home" asp-route-username="@ViewBag.username" asp-route-profile="@ViewBag.ProfileImage" asp-action="Moods">
                            <span class="smalltext yellowbrowse ">Browse</span>
                        </a>
                    }

                </div>
            </div>
        </div>

        
        

    </section>


    <!--Javascripts-->
    <script>
        function Hide() {

            const play = document.querySelector('[class*=play]');
            const pause = document.querySelector('[class*=pause]');
            if (play.style.display === 'block' && pause.style.display === 'none') {
                play.style.display = 'none';
                pause.style.display = 'block';
            }
            else {
                play.style.display = 'block';
                pause.style.display = 'none';
            }

        }
        var editor = document.getElementById('fileUploadForm');
        var pencil = document.getElementById('pencil').addEventListener("click",()=>{
            editor.style.display='block';
        })
      

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });


    </script>
</body>


