@model ThesisProject.Models.RegistrationModel

@{
    ViewData["Title"] = "Register";
}

@section Styles{
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}


<div class="page">
    <div class="sign-in-form">
        <form asp-controller="Home" asp-action="Registration" method="post" class="form">
            <h1>Create a new account</h1>
            <div class="inputs">
                <input type="text" placeholder="Username" class="input" asp-for="username" />
            </div>
            <div class="inputs">
                <input type="password" placeholder="Password" class="input" asp-for="password">
            </div>
            <div class="inputs">
                <input type="password" placeholder="Confirm Password" class="input">
            </div>
            <div class="inputs">
                <input type="text" placeholder="First Name" class="input" asp-for="firstname">
            </div>
            <div class="inputs">
                <input type="text" placeholder="Last Name" class="input" asp-for="lastname">
            </div>
            <div class="inputs">
                <input type="email" placeholder="Email Address" class="input" asp-for="email">
            </div>
            <div class="radios">
                @Html.RadioButtonFor(r=>r.gender,"Female", new{id="Female"})<label for="Female">Female</label><br>
                @Html.RadioButtonFor(r=>r.gender,"Male", new{id="Male"})<label for="Male">Male</label><br>
                @Html.RadioButtonFor(r=>r.gender,"Other", new{id="Other"})<label for="Other">Other</label><br>

            </div>

            <div class="error" id="error">
            </div>
            <input type="submit" class="submit-btn" value="Submit" class="input" />
        </form>
        <div class="register">
            <h4>Already have an account?</h4>
            <a class="signin" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Login">                
                <span class="text nav-text">
                    <h5>Login</h5>
                </span>
            </a>
            
        </div>
    </div>
    <div class="image-container">
        <img src="@Url.Content("~/Images/undraw_happy_music_g6wc-removebg.png")" class="image" />
        <h2>Here, <i>you</i> choose your mood</h2>
    </div>
</div>